[run]
omit = */tests/*
       */migrations/*
       Habit_Tracker\settings.py
       Habit_Tracker\local_settings.py
       Habit_Tracker\__init__.py
       Users\__init__.py
       Users\admin.py
       Users\apps.py
       habit\__init__.py
       habit\admin.py