{% extends "base.html" %}
{% block content %}
    {% if habit %}
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="card streak-card mb-2">
                        <h2 class="card-header">Habit Infos</h2>
                        
                        <div class="card-body">
                            <h4 class="card-subtitle mb-1 text-muted">{{ habit.period.capitalize }} Habit</h4>
                            <p><i class="bi bi-person mt-2"></i> <strong>Habit Name:</strong> {{ habit.name.capitalize }}</p>
                            <p><i class="bi bi-calendar"></i> <strong>Started:</strong> {{ habit.creation_time|date:"F d, Y" }} at {{ habit.creation_time|date:"g:i A" }}</p>
                            <p><i class="bi bi-calendar"></i> <strong>Completion date:</strong> {{ habit.completion_date|date:"F d, Y" }} at {{ habit.completion_date|date:"g:i A" }}</p>
                            <h4 class="mt-3"><strong>Tasks</strong></h4>
                            <div class="row">
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>Total:</strong> {{ habit.num_of_tasks }}</p>
                                </div>
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>In progress:</strong> {{ habit.in_progress }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>Success:</strong> {{ streak.num_of_completed_tasks }} </p>
                                </div>
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>Failed:</strong> {{ streak.num_of_failed_tasks }}</p>
                                </div>
                            </div>
                            <h4 class="mt-3"><strong>Streak</strong></h4>
                            <div class ="row">
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>Longest:</strong> {{ streak.longest_streak }}</p>
                                </div>
                                <div class="col">
                                    <p><i class="bi bi-check2"></i> <strong>Current:</strong> {{ streak.current_streak }}</p>
                                </div>
                            </div>
                            <p><i class="bi bi-person mt-2"></i> <strong>Notes:</strong> {{ habit.notes }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button id="task-log-button" class="switcher-button" onclick="showTasks('task')">Task log</button>
                    <button id="streak-log-button" class="switcher-button" onclick="showTasks('streak')">Streak log</button>
                    <div class="container mt-5 table-container" id="task-log">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">                               
                                    <thead>
                                        <tr>
                                            <th>N</th>
                                            <th>Status</th>
                                            <th>Completion Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in tasks %}
                                            {% if task.task_status == 'Completed' or task.task_status == 'Failed' %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ task.task_status }}</td>
                                                    <td>{{ task.task_completion_date }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 table-container" id="streak-log">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Streak</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for streak in achievement %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ streak.title }}</td>
                                                <td>{{ streak.date }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Display task log by default
                showTasks('task');
            });
            function showTasks(kind) {
                // Hide all task sections
                document.getElementById('task-log').style.display = 'none';
                document.getElementById('streak-log').style.display = 'none';


                // Remove 'active' class from all buttons
                var buttons = document.querySelectorAll('.switcher-button');
                buttons.forEach(function(button) {
                    button.classList.remove('active');
                });
    
                // Show the selected task section
                document.getElementById(`${kind}-log`).style.display = 'block';
    
                // Add 'active' class to the clicked button
                document.getElementById(`${kind}-log-button`).classList.add('active');
;
            }
        </script>
    {% else %}
        <p>No habit found.</p>
    {% endif %}
{% endblock %}
