{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4">Welcome {{ user_full_name }}</h1>

    <!-- Buttons for Add Habit, Habit Manger, Habit Analysis -->
    <a class="btn btn-primary mb-4" href="{% url 'habit_creation' %}">Add Habit</a>
    <a class="btn btn-danger mb-4" href="{% url 'active_habits' %}">Habit Manager</a>
    <a class="btn btn-success mb-4" href="{% url 'HabitsAnalysis' %}">Habit Analysis</a>

    <!-- Buttons for Daily, Weekly, and Monthly Tasks -->
    <div class="mb-4"> 
        <button id="daily-tasks-button" class="switcher-button" onclick="showTasks('daily')">Due Today Tasks</button>
        <button id="weekly-tasks-button" class="switcher-button" onclick="showTasks('weekly')">Active Tasks</button>
        <button id="upcoming-tasks-button" class="switcher-button" onclick="showTasks('upcoming')">Upcoming Tasks</button>

    </div>
    

    <!-- Display Due The next 24 hours Tasks -->
    <div id="daily-tasks" class="task-container">
        {% for task in due_today_tasks %}
            <div class="col-md-8 mb-3">
                <div class="card home-streak-card">
                    <h5 class="home-card-title">{{ task.habit.name }}</h5>
                    <h7 class="card-subtitle mb-1 text-muted">{{ task.habit.period.capitalize }} Habit</h7>
                    <div class="card-body">
                        <form method="post" action="{% url 'habit-home' %}">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <input type="hidden" name="habit_id" value="{{ task.habit.id }}">
                            <input type="hidden" name="task_status" value="Completed">
                            <input type="hidden" id="task_{{ task.id }}" name="task_{{ task.id }}" habit_id="{{ task.habit.id }}">
                            <label class="form-check-label" for="task_{{ task.id }}">
                                N of Task :{{ task.task_number }}
                            </label>
                            <p class="mt-2">Due: {{ task.due_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                            <!-- Mark as Complete Button-->
                            <button type="submit" class="btn btn-success">Mark as Complete</button>
                        </form>
                    </div>
                </div>
            </div>   
        {% endfor %}
    </div>

    <!-- Display Active Tasks -->
    <div id="weekly-tasks" style="display: none;" class="task-container">
        {% for task in available_tasks %}
            <div class="col-md-8 mb-3">
                <div class="card home-streak-card">
                    <h5 class="home-card-title">{{ task.habit.name }}</h5>
                    <h7 class="card-subtitle mb-1 text-muted">{{ task.habit.period.capitalize }} Habit</h7>
                    <div class="card-body">
                        <form method="post" action="{% url 'habit-home' %}">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <input type="hidden" name="habit_id" value="{{ task.habit.id }}">
                            <input type="hidden" name="task_status" value="Completed">
                            <input type="hidden" id="task_{{ task.id }}" name="task_{{ task.id }}" habit_id="{{ task.habit.id }}">
                            <label class="form-check-label" for="task_{{ task.id }}">
                                N of Task :{{ task.task_number }}
                            </label>
                            <p class="mt-2">Due: {{ task.due_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                            <!-- Mark as Complete Button-->
                            <button type="submit" class="btn btn-success">Mark as Complete</button>
                        </form>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
    <!-- Display Upcoming Tasks -->
    <div id="upcoming-tasks" style="display: none;" class="task-container">
        {% for task in upcoming_tasks %}
            <div class="col-md-8 mb-3">
                <div class="card home-streak-card">
                    <h5 class="home-card-title">{{ task.habit.name }}</h5>
                    <h7 class="card-subtitle mb-1 text-muted">{{ task.habit.period.capitalize }} Habit</h7>
                    <div class="card-body">
                        <label class="form-check-label" for="task_{{ task.id }}">
                            N of Task :{{ task.task_number }}
                        </label>
                        <p class="mt-2">Start: {{ task.start_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                        <p class="mt-2">Due: {{ task.due_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                        <p><i class="bi bi-person mt-2"></i> <strong>Notes:</strong> {{ task.habit.notes }}</p>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Display due today tasks by default
            showTasks('daily');
        });

        function showTasks(period) {
            // Hide all task sections
            document.getElementById('daily-tasks').style.display = 'none';
            document.getElementById('weekly-tasks').style.display = 'none';
            document.getElementById('upcoming-tasks').style.display = 'none';


            // Remove 'active' class from all buttons
            var buttons = document.querySelectorAll('.switcher-button');
            buttons.forEach(function(button) {
                button.classList.remove('active');
            });

            // Show the selected task section
            document.getElementById(`${period}-tasks`).style.display = 'block';

            // Add 'active' class to the clicked button
            document.getElementById(`${period}-tasks-button`).classList.add('active');
        }

    </script>
{% endblock %}
