{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4">Welcome to Your Habit Dashboard</h1>
    
    <!-- Add Habit Button -->
    <a class="btn btn-primary mb-4" href="{% url 'habit-creation' %}">Add Habit</a>
    <a class="btn btn-danger mb-4" href="{% url 'active_habits' %}">Active Habits</a>

    <!-- Buttons for Daily, Weekly, and Monthly Tasks -->
    <div class="mb-4"> <!-- Add margin-bottom for spacing -->
        <button class="btn btn-info" onclick="showTasks('daily')">Due Today Tasks</button>
        <button class="btn btn-warning" onclick="showTasks('weekly')">Available Tasks</button>
    </div>

    <!-- Display Daily Tasks -->
    <div id="daily-tasks" style="display: none;" class="card-deck mt-4">
        {% for task in daily_tasks %}
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'habit-home' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <input type="hidden" name="habit_id" value="{{ task.habit.id }}">
                        <input type="hidden" name="task_status" value="Completed">
                        <input type="hidden" id="task_{{ task.id }}" name="task_{{ task.id }}" habit_id="{{ task.habit.id }}">
                        <label class="form-check-label" for="task_{{ task.id }}">
                            {{ task.habit.name }} - Task {{ task.task_number }}
                        </label>
                        <p class="mt-2">Due: {{ task.due_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                        <p>Priority: {{ task.habit.priority }}</p>
                        
                        <!-- Mark as Complete and Snooze Buttons -->
                        <button type="submit" class="btn btn-success mr-2">Mark as Complete</button>
                        <button class="btn btn-warning">Snooze</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Display Weekly Tasks -->
    <div id="weekly-tasks" style="display: none;" class="card-deck mt-4">
        {% for task in weekly_tasks %}
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'habit-home' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <input type="hidden" name="habit_id" value="{{ task.habit.id }}">
                        <input type="hidden" name="task_status" value="Completed">
                        <input type="hidden" id="task_{{ task.id }}" name="task_{{ task.id }}" habit_id="{{ task.habit.id }}">
                        <label class="form-check-label" for="task_{{ task.id }}">
                            {{ task.habit.name }} - Task {{ task.task_number }}
                        </label>
                        <p class="mt-2">Due: {{ task.due_date|date:"F d, Y" }} at {{ task.due_date|date:"g:i A" }}</p>
                        <p>Priority: {{ task.habit.priority }}</p>
                        
                        <!-- Mark as Complete and Snooze Buttons -->
                        <button type="submit" class="btn btn-success mr-2">Mark as Complete</button>
                        <button class="btn btn-warning">Snooze</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>



    <script>
        function showTasks(period) {
            // Hide all task sections
            document.getElementById('daily-tasks').style.display = 'none';
            document.getElementById('weekly-tasks').style.display = 'none';

            // Show the selected task section
            document.getElementById(`${period}-tasks`).style.display = 'block';
        }
    </script>
{% endblock %}
